*{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    /* align-items: center; */
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../img/cat_background.png");
    height: 100hv;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.header{
    position: sticky;
    background-color: rgb(118, 206, 236);
    /* text-align: center; */
    border-radius: 10px;
    margin: 10px;
    /* width: 90vw; */
}

h1 {
    height: 100px;
    line-height: 100px;
}

.bar{
    display: flex;
    justify-content: end;
    background-color: rgba(118, 206, 236, 0.831);
    position: sticky;
    margin: 10px;
    /* width: 90vw; */
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.transparent-box{
    margin: 10px;
    padding: 10px;
    width: 500px;
    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px #00000035;
    background: rgba(118, 206, 236, 0.37);
    overflow: hidden;
    backdrop-filter: blur(4px);
}

#player-setup-box{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
}

.player-box{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#player-one-setup, #player-two-setup{
    display: flex;
    flex-direction: column;
}

#player-img-box{
    font-size: 15px;
    width: fit-content;
    background-color: #ecbfbf81;
}

.card_copia{
    filter: hue-rotate(120deg);
    width: 80px;
    height: 80px;
    margin: 10px;
}

.card{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.btn-gral{
    width: 120px;
}

button{
    color: #ffffff;
    background-color: rgb(67, 176, 243);
    border: 2px solid #000;
    font-weight: 900;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .85;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

button:hover{
    margin:10px;
    color: rgb(67, 176, 243);
    text-shadow: #333;
    background-color: rgb(40, 122, 174);
    border: 2px solid rgb(67, 176, 243);
    cursor: pointer;
}

#versus{
    margin: 5%;
}

input{
    height: 30px;
}

p{
    font-size: 25px;
    padding:20px
}

select{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.tablero{
    display: flex;
}

.tablero:hover > :not(:hover) {
    opacity: .4;
    background: transparent;
}

#play-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cuadrado {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    font-size: 3.5rem;
    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px #00000035;
    background: #10b6c825;
    overflow: hidden;
    backdrop-filter: blur(4px);
}

.cuadrado:hover{
    background: #c89a1025;
}

.fila:hover > :not(:hover) {
    opacity: .4;
}

#left-side, #right-side{
    width: 250px;
    float:left;
    border: 1px black;
    display: grid;
    align-items: center;
    margin: 10px
}
